/yandex_business_ai_landing/migrations/versions
**/package-lock.json
/instance/users.db
**/.fastRequest
**/node_modules
**/__pycache__
**/.nyc_output
**/TEST*.xml
**/.DS_Store
**/Thumbs.db
*/.vscode/*
**/.build-*
**/.netlify
**/.output
doc/tmp/**
**/target/
**/*.class
**/*.log*
**/.cache
**/*.lcov
*.py[cod]
**/*.tiff
**/.idea
**/.temp
**/*.zip
**/*.iml
**/.nuxt
**/*.avi
**/*.app
**/*.exe
**/*.flv
**/*.jar
**/*.log
**/*.mov
**/*.mp4
**/*.tmp
**/*.war
**/*.wmv
**/node
**/venv
**/.tmp
**/dist
/.jpb
/tmp
