/utils/typescript-generator-info.json
!.vscode/extensions.json
**/package-lock.json
web-ext.config.ts
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/.fastRequest
**/node_modules
npm-debug.log*
**/TEST*.xml
**/.DS_Store
**/Thumbs.db
stats-*.json
*/.vscode/*
**/.build-*
**/.netlify
**/.output
stats.html
**/*.log*
*.njsproj
**/.cache
**/*.lcov
**/.nitro
**/.fleet
**/.env.*
**/.idea
**/.temp
**/*.zip
**/*.iml
**/.nuxt
**/*.app
**/*.exe
**/*.flv
**/*.jar
**/*.log
**/*.mov
**/*.tmp
**/*.war
**/*.wmv
**/.data
**/.env
.vscode
*.ntvs*
**/node
**/.tmp
**/dist
/.jpb
*.suo
*.sln
*.sw?
logs
/tmp
