<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Настройки языковой модели - AI Бизнес помощник</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Include Header -->
    {% include 'header.html' %}

    <!-- Main Content -->
    <main>
        <div class="container">
            <h2>Редактировать настройки языковой модели</h2>

            <form method="POST">
                <p>
                    <label for="review_prompt">Шаблон для отзывов:</label>
                    <textarea id="review_prompt" name="review_prompt"
                        rows="4">{% if not prompts.review_prompt %}{{ answer_review_system_prompt }}{% else %}{{ prompts.review_prompt }}{% endif %}</textarea>
                    <small>Информация о компании будет добавлена в конце</small>
                </p>
                <p>
                    <label for="describe_picture_prompt">Шаблон для описания изображений:</label>
                    <textarea id="describe_picture_prompt" name="describe_picture_prompt"
                        rows="4">{% if not prompts.describe_picture_prompt %}{{ generate_image_description_system_prompt }}{% else %}{{ prompts.describe_picture_prompt }}{% endif %}</textarea>
                </p>
                <p>
                    <label for="write_article_prompt">Шаблон для написания публикаций:</label>
                    <textarea id="write_article_prompt" name="write_article_prompt"
                        rows="4">{% if not prompts.write_article_prompt %}{{ write_article_system_prompt }}{% else %}{{ prompts.write_article_prompt }}{% endif %}</textarea>
                    <small>Информация о компании и описание изображения будут добавлены в конце</small>
                </p>
                <p>
                    <label for="write_issue_response_prompt">Шаблон для ответа на инциденты:</label>
                    <textarea id="write_issue_response_prompt" name="write_issue_response_prompt"
                        rows="4">{% if not prompts.write_issue_response_prompt %}{{ write_issue_response_system_prompt }}{% else %}{{ prompts.write_issue_response_prompt }}{% endif %}</textarea>
                    <small>Информация о компании и описание инцидента будут добавлена в конце</small>
                </p>
                <p>
                    <button type="submit" class="btn">Сохранить изменения</button>
                </p>
            </form>
        </div>
    </main>
</body>

</html>