<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Главная страница AI Бизнес помощник</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Include Header -->
    {% include 'header.html' %}

    <!-- Main Content -->
    <main>
        <div class="container">
            <h2>Добро пожаловать на главную страницу AI Бизнес помощник!</h2>
            <p>Используйте возможности ИИ для улучшения бизнес-процессов.</p>
        </div>
    </main>
    <!-- Features Section -->
    <section id="features"></section>
    <div class="container">
        <h2>Особенности Яндекс.Бизнес помощника</h2>
        <ul>
            <li><strong>Вход:</strong> Позволяет пользователям легко и безопасно входить в систему, используя имя
                пользователя и пароль, обеспечивая надежную защиту данных.</li>
            <li><strong>Управление отзывами:</strong> Автоматически получает отзывы клиентов, генерирует
                персонализированные ответы с использованием ИИ и применяет их непосредственно на странице отзывов
                Яндекса, улучшая взаимодействие с клиентами и повышая их удовлетворенность.</li>
            <li><strong>Генерация статей:</strong> Создает уникальные и качественные статьи для блога компании в
                Яндекс.Бизнесе, что помогает улучшить SEO, привлечь больше клиентов и повысить узнаваемость бренда.</li>
            <li><strong>Аналитика:</strong> Предоставляет подробные отчеты и аналитику по отзывам и взаимодействиям,
                помогая вам лучше понимать потребности клиентов и принимать обоснованные решения для улучшения бизнеса.
            </li>
            <li><strong>Интеграция:</strong> Легко интегрируется с другими инструментами и сервисами, что позволяет вам
                максимально эффективно использовать возможности Яндекс.Бизнес помощника.</li>
        </ul>
    </div>
    </section>

    <!-- Call to Action Section -->
    <section id="cta">
        <div class="container">
            <h2>Начните использовать Яндекс.Бизнес помощник сегодня!</h2>
            <p>Упростите управление отзывами и улучшите бизнес-процессы с помощью нашего расширения для Chrome.</p>
            <a href="{{ url_for('auth_routes.register') }}" class="btn">Зарегистрироваться</a>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2023 AI Бизнес помощник. Все права защищены.</p>
        </div>
    </footer>
</body>

</html>