<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Register - AI Бизнес помощник</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Include Header -->
    {% include 'header.html' %}

    <!-- Main Content -->
    <main>
        <div class="container">
            <h2>Register</h2>

            <form method="POST">
                <p>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required autofocus>
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </p>
                <p>
                    <button type="submit">Register</button>
                </p>
            </form>
        </div>
    </main>
</body>

</html>